:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
}

:root {
    --font-main: "Roboto", sans-serif;
    --font-second: "Raleway", sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-main);
    color: var(--slate);
    background-color: var(--white);
    font-weight: 400;
    line-height: 1.5;
    text-align: center;    
    font-size: 16px;
    letter-spacing: 0.02em;
    outline: none;
}

h2 {
    color: var(--navy-blue);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

h3 {
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

ul, ol {
    list-style: none;
    margin: 0;
}   

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding: 120px 0;
}

.container {
    width: 1440px;
}

.header {
    max-width: 1440px;
    padding: 20px 0;
    background-color: var(--white);
    border-bottom: 1px solid var(--cornflower);

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 36px;
}

.header-logo {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    font-family: var(--font-second);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    color: var(--cloud);
    letter-spacing: 0.03em; 
    color: var(--iris);
    text-transform: uppercase;
    margin-left: 156px;
}


.header-studio {
    color: var(--navy-blue);
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.nav-link:hover, 
.nav-link:focus {
    color: var(--ocean);
    cursor: pointer;
}

.header-link {
    display: flex;  
    color: var(--slate);    
}

.contacts {
font-style: normal;
}

.contacts-list {
    display: flex;
    gap: 40px;
    margin-right: 156px;
}

.contacts-link:hover, 
.contacts-link:focus {
    color: var(--iris);
    outline: none;
    cursor: pointer;
}



h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: var(--white);
    letter-spacing: 0.02em;
}



.hero .container{
    background-color: var(--navy-blue);     
    background-size: cover;
    height: 600px;
    align-items: center;
}

.hero-title {
    width: 496px;
    padding-left: 472px;
    padding-top: 188px;
    margin-bottom: 48px;
}

.hero-button {
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em; 
    color: var(--white);
    line-height: 1.5;
    background: var(--iris);
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--ocean);
}

 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

.values {
    margin-bottom: 60px;
}

.values-list {
    display: flex;
    column-gap: 24px;
    padding: 0 156px 0 132px;

.values-title {
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
}
.values-text {
    text-align: left;
}

.team {
    letter-spacing: 0.02em; 
    background-color: var(--cloud);
}

.team-list {
    display: flex;
    justify-content: center;
    column-gap: 24px;
}

.team-member {
    box-sizing: border-box;
    border: 1px solid var(--cornflower);
    border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px;
    width: calc((100% - 3 * 24px) / 4);background-color: var(--white);
}

.team-title {
    text-transform: capitalize;
    color: var(--navy-blue);
    margin-bottom: 60px;
    letter-spacing: 0.02em;

}


/*.team-img {
}*/

.team-header   {
    color: var(--navy-blue);
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/*.team-text {

}*/

.portfolio {
    background-color: var(--white);
}
   
   /* .portfolio-img {
}*/

.portfolio-title {
    text-transform: capitalize;
    letter-spacing: 0.02em; 
}

.portfolio-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
    letter-spacing: 0.02em; 
    text-transform: capitalize;
}
.portfolio-text {
    color: var(--slate);
    text-align: left;
}

footer {
    background: var(--navy-blue);

}

.footer-logo {
    font-family: var(--font-second);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    color: var(--cloud);
    letter-spacing: 0.03em; 
    color: var(--iris);
    text-transform: uppercase;
}

.footer-studio {
    color: var(--cloud);
}

.copyright {
    color: var(--cloud);
    text-align: left;
}